@model MyWebstore.Models.StoreViewModel

@{
    ViewData["Title"] = "Webstore";
}

<h2>Webstore</h2>

<p>Ein simpler Webstore, mit Einkaufswagen und verschiedenen Artikeln!</p>

<div class="StoreContainer">
    @foreach (var item in Model.StoreItemList)
    {
    <div class="StoreItemContainer">
        @using (Html.BeginForm("AddToShoppingCart", "Webstore"))
        {
            <input id="storeItemId" name="storeItemId" type="hidden" value=@item.Id />

            <div class="StoreItem">
                <a asp-action="Details" asp-route-storeItemId="@item.Id" id="StoreItemLink">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td style="width:20%">
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td style="width:60%">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td style="width:20%">
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </a>
            </div>
            <div class="StoreSubmit">
                <select id="Amount" name="Amount">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <input class="SubmitButton" type="submit" value="Add to Cart" />
            </div>
        }
    </div>
    }
</div>


