@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h3>to my small Webshop example!</h3>
        <br />
        <p>Here I have created an example to show my skills working with ASP.NET Core and EntityFramework Core. To find out more about me please visit <a href="https://stephanscholz.at" target="_blank">my website</a>.</p>
    </div>
